<!DOCTYPE html>
<html>
<head>
    <title>Magos vs Dragones</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="https://kit.fontawesome.com/7e69a7bbf0.js"></script>
</head>
<body>
<div id="app">
    <h1 style="text-align:center">Magos vs Dragones</h3>
    <section class="row">
        <div class="small-6 columns">
            <h1 class="text-center"><i class="fas fa-hat-wizard fa-2x"></i></h1>
            <div class="curarthbar">
                <div class="curarthbar text-center" 
                style="background-color: goldenrod; margin: 0; color: white;"
                :style="{width: saludMago + '%'}">
                {{ saludMago }} %
                </div>
            </div>
        </div>
        <div class="small-6 columns">
            <h1 class="text-center"><i class="fas fa-dragon fa-flip-horizontal fa-2x"></i></h1>
            <div class="curarthbar">
                <div class="curarthbar text-center" 
                    style="background-color: rgb(3, 110, 12); margin: 0; color: white;"
                    :style="{width: saludDragon + '%'}"
                    >
                    {{ saludDragon }} %
                </div>
            </div></div>
    </section>
    <section class="row controls" v-if="!hayUnaPartidaEnJuego">
        <div class="small-12 columns">
            <button id="start-game"  @click="empezarPartida">
                EMPEZAR JUEGO NUEVO</button>
        </div>
    </section>
    <section class="row controls" v-else>
        <div class="small-12 columns">
            <button id="atacar" @click="atacar">ATACAR</button>
            <button id="ataque-especial" @click="ataqueEspecial">ATAQUE ESPECIAL</button>
            <button id="curar" @click="curar">CURAR</button>
            <button id="rendirse" @click="terminarPartida">RENDIRSE</button>
        </div>
    </section>
    <section class="row log" v-if="turnos.length > 0">
        <div class="small-12 columns">

            <ul>
                <li v-for="(turno,index) in turnos"
                :class="cssParaLaFila(turno)"
                :style="{'text-align': turno.esMago?'left':'right','opacity':index <=1 ? 1 : 0.3}">
                    {{ turno }} 
                </li>
            </ul>
            
        </div>
    </section>
</div>
<!-- <script src="app.js"></script> -->
</body>
</html>

<script>
    var miVue = new Vue({
        el: '#app',
        data: {
            saludMago: 0,
            saludDragon: 0,
            hayUnaPartidaEnJuego: false,
            usoEspecialMago: 0,
            turnos: []
        },
        computed: {

        },
        methods: {
            empezar() {
                this.hayUnaPartidaEnJuego = !this.hayUnaPartidaEnJuego
            },

            indicarGanador() {
                if(this.saludDragon <= 0) {alert('Ganaste') 
                this.empezarPartida()} 
                else if(this.saludMago <= 0) {alert('Perdiste') 
                this.empezarPartida()}
            },
            
            empezarPartida() {
                this.saludMago = 100
                this.saludDragon = 100
                usoEspecialMago = 0
                turnos = []
                this.empezar()
            },

            atacar() {
                this.atacarDragon()
                let menosDrag = Math.floor(Math.random() * 10) + 3
                this.saludDragon -= menosDrag
                this.turnos.push(menosDrag)
                this.indicarGanador()
            },

            atacarDragon() {
                let menosMago = Math.floor(Math.random() * 12) + 5
                this.saludMago -=  menosMago
                this.turnos.push(menosMago)
                this.indicarGanador()

            },

            ataqueEspecial() {
                if(this.usoEspecialMago < 2) {
                    this.saludDragon -= Math.floor(Math.random() * 10) + 20
                    this.atacarDragon()

                    this.usoEspecialMago++
                    this.indicarGanador()

                } else {
                    alert('No tenes mas ataques especiales')
                }
            },

            curar() {
                if(this.saludMago <= 90) {
                    this.saludMago += 10
                    this.atacarDragon()
                    this.indicarGanador()

                } else {
                    alert('No podes tener una vida superior a 100')
                    this.atacarDragon()
                    this.indicarGanador()
                }
            },

            terminarPartida() {
                this.empezarPartida()
            },

            cssParaLaFila(turno) {
                turno = 'asd'
                
            }
        },
        created() {}
    })
</script>